<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Crypto_Notepad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="EncryptPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Encryption_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <Crypto_Notepad.Properties.Settings>
            <setting name="RichTextFont" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="RichForeColor" serializeAs="String">
                <value>228, 228, 228</value>
            </setting>
            <setting name="RichBackColor" serializeAs="String">
                <value>56, 56, 56</value>
            </setting>
            <setting name="MenuWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RichWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RichTextSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="HighlightsColor" serializeAs="String">
                <value>172, 87, 11</value>
            </setting>
            <setting name="AssociateCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HashAlgorithm" serializeAs="String">
                <value>SHA1</value>
            </setting>
            <setting name="KeySize" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="TheSalt" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordIterations" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WarningMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCheckUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>645, 460</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="AutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendTo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MenuIntegrate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MenuIcons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColoredToolbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LNVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LNBackgroundColor" serializeAs="String">
                <value>53, 53, 53</value>
            </setting>
            <setting name="LNFontColorPanel" serializeAs="String">
                <value>164, 164, 164</value>
            </setting>
            <setting name="BLShow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BLColor" serializeAs="String">
                <value>164, 164, 164</value>
            </setting>
            <setting name="BLStyle" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="GLShow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GLColor" serializeAs="String">
                <value>164, 164, 164</value>
            </setting>
            <setting name="GLStyle" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="InserKey" serializeAs="String">
                <value>Enable</value>
            </setting>
            <setting name="CustomColor" serializeAs="String">
                <value>0</value>
            </setting>
        </Crypto_Notepad.Properties.Settings>
        <EncryptPad.Properties.Settings>
            <setting name="TopPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeftPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RichTextFont" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="RichForeColor" serializeAs="String">
                <value>228, 228, 228</value>
            </setting>
            <setting name="FormWidth" serializeAs="String">
                <value>687</value>
            </setting>
            <setting name="FormHeight" serializeAs="String">
                <value>428</value>
            </setting>
            <setting name="RichBackColor" serializeAs="String">
                <value>56, 56, 56</value>
            </setting>
            <setting name="MenuWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RichWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RichTextSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="HighlightsColor" serializeAs="String">
                <value>101, 51, 6</value>
            </setting>
            <setting name="AssociateCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HashAlgorithm" serializeAs="String">
                <value>SHA1</value>
            </setting>
            <setting name="KeySize" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="TheSalt" serializeAs="String">
                <value/>
            </setting>
            <setting name="PasswordIterations" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>False</value>
            </setting>
        </EncryptPad.Properties.Settings>
        <Encryption_Tool.Properties.Settings>
            <setting name="TopPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeftPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RichTextFont" serializeAs="String">
                <value>Consolas, 9.75pt</value>
            </setting>
            <setting name="RichTextColor" serializeAs="String">
                <value>66, 66, 74</value>
            </setting>
            <setting name="FormWidth" serializeAs="String">
                <value>687</value>
            </setting>
            <setting name="FormHeight" serializeAs="String">
                <value>428</value>
            </setting>
            <setting name="RichForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MenuWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RichWrap" serializeAs="String">
                <value>True</value>
            </setting>
        </Encryption_Tool.Properties.Settings>
    </userSettings>
</configuration>
