<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Crypto_Notepad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="EncryptPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Encryption_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <Crypto_Notepad.Properties.Settings>
            <setting name="editorForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="editorBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="menuWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="editorWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="explorerAssociate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HashAlgorithm" serializeAs="String">
                <value>SHA1</value>
            </setting>
            <setting name="KeySize" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="PasswordIterations" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="toolbarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoCheckUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="windowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="windowSize" serializeAs="String">
                <value>645, 460</value>
            </setting>
            <setting name="windowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="explorerSendTo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="explorerIntegrate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="menuIcons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="insertKey" serializeAs="String">
                <value>Enable</value>
            </setting>
            <setting name="customColor" serializeAs="String">
                <value>16777215;16777215;16777215;16777215;16777215;16777215;16777215;16777215;16777215;16777215;16777215;16777215;16777215;16777215;16777215;16777215</value>
            </setting>
            <setting name="editorPaddingLeft" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="editorRightToLeft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="editorFont" serializeAs="String">
                <value>Microsoft Sans Serif, 10pt</value>
            </setting>
            <setting name="statusPanelVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="statusPanelBackColor" serializeAs="String">
                <value>240, 240, 240</value>
            </setting>
            <setting name="statusPanelFontColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="toolbarBackColor" serializeAs="String">
                <value>240, 240, 240</value>
            </setting>
            <setting name="toolbarBorder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="searchPanelForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="searchPanelBackColor" serializeAs="String">
                <value>240, 240, 240</value>
            </setting>
            <setting name="openLinks" serializeAs="String">
                <value>LMB Click</value>
            </setting>
            <setting name="mainMenuVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="oldToolbarIcons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="closeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="editorBorder" serializeAs="String">
                <value>FixedSingle</value>
            </setting>
            <setting name="searchPanelBorder" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="toolbarCloseButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="singleInstance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statusPanelLength" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="statusPanelLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="statusPanelModified" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="statusPanelSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="encryptionHint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="passwordGeneratorLowercase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="passwordGeneratorUppercase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="passwordGeneratorNumeric" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="passwordGeneratorSpecial" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="passwordGeneratorLength" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="passwordGeneratorNumberOfStrings" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TheSalt" serializeAs="String">
                <value />
            </setting>
            <setting name="passwordGeneratorBrackets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="passwordGeneratorAdditional" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lockTimeout" serializeAs="String">
                <value />
            </setting>
            <setting name="statusPanelReadonly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="statusPanelWordWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clipboardClearTime" serializeAs="String">
                <value />
            </setting>
            <setting name="statusPanelClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clearClipboardAtClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shortcutKeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="openTxtUnencrypted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="trayMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statusPanelPasteboard" serializeAs="String">
                <value>False</value>
            </setting>
        </Crypto_Notepad.Properties.Settings>
    </userSettings>
</configuration>
